<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- this config is for logback framework -->
    <logger name="com.zaxxer.hikari" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>